.footer {
  background: #869FA8;
  margin-top: 30px;
  .footer-list {
    padding-top: 30px;
    .titles {
      width: 60vw;
      padding-left: 20vw;
    }
  }
  .contact-number {
    margin-top: 40px;
  }
}
