<div class="footer">
  <div class="footer-list">
    <div class="titles">
      <div class="sm" fxLayout="row" fxLayoutAlign="space-around">
        <div>FEATURES</div>
        <div>HOW IT WORKS</div>
        <div>SUPPORT</div>
        <div>PRICING</div>
        <div>FAQ</div>
        <div >BLOG</div>
      </div>
    </div>
    <div class="contact-number md text-center">
      <b>Contact us:</b> +1-647-494-3064
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/image/interface/home/logo.png" alt="Logo"/>
    </div>
  </div>
</div>
