<div class="container">
    <div class="">
        <div class="row">
            <div class="h3 mb-3 container d-flex align-items-center">
                <button mat-icon-button type="button" (click)="goBack()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                PayPal Payments via Credit Card
            </div>

            <form [formGroup]="paymentForm" (ngSubmit)="submit()"  class="bg-white p-4">
            <div fxLayout="row"
            fxLayout.gt-lg="row" 
            fxLayout.gt-md="row" 
            fxLayout.gt-sm="row"
            fxLayout.gt-xs="column">
                <mat-card class="capos-card p-4 fill mb-4 " fxFlex="50">
                    <mat-card-header>
                        <mat-card-title>Billing Information</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="w-100">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="firstName" placeholder="First name..." required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="lastName" placeholder="Last name..." required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Card Type</mat-label>
                            <mat-select formControlName="cardType" required>
                                <mat-option *ngFor="let card of cardList" [value]="card">
                                  {{card}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Card Number</mat-label>
                            <input type="text" matInput formControlName="cardNumber" placeholder="XXXXXXXXXXXXXXXXXXXXX" required />
                        </mat-form-field>
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <mat-form-field class="w-100">
                                    <mat-label>Expire Date</mat-label>
                                        <mat-select formControlName="expireMonth" required placeholder="Select month">
                                            <mat-option *ngFor="let m of monthList" [value]="m">
                                            {{m}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                            <div  class="flex-grow-1">
                                <mat-form-field class="w-100">
                                        <mat-select formControlName="expireYear" required placeholder="Select year">
                                            <mat-option *ngFor="let y of yearList" [value]="y">
                                            {{y}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <mat-form-field class="w-100">
                            <mat-label>CVV</mat-label>
                            <input type="text" matInput formControlName="cvv" placeholder="CVV" required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Amount(USD)</mat-label>
                            <input type="text" matInput formControlName="amount" placeholder="Amount in USD" required />
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <mat-card class="capos-card p-4 fill mb-4 " fxFlex="50">
                    <mat-card-header>
                        <mat-card-title>Billing Address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="w-100">
                            <mat-label>Address 1</mat-label>
                            <input type="text" matInput formControlName="address1" placeholder="Enter address 1..." required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Address 2</mat-label>
                            <input type="text" matInput formControlName="address2" placeholder="Enter address 2..." required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>City Name</mat-label>
                            <input type="text" matInput formControlName="city" placeholder="Enter city name..." required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" required>
                                <mat-option *ngFor="let s of stateList" [value]="s">
                                  {{s}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Zip Code</mat-label>
                            <input type="text" matInput formControlName="zipCode" placeholder="Enter zip code(5 or 9 digits)" required />
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country" required>
                                <mat-option *ngFor="let c of countryList" [value]="c">
                                  {{c}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Phone Number</mat-label>
                            <input type="text" matInput formControlName="phone" placeholder="Enter phone number" required />
                        </mat-form-field>
                    </mat-card-content>

                </mat-card>

            </div>
            <div class="d-flex justify-content-center p-1">
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </div>
            </form>

        </div>
    </div>