<div class="container">
	<div class="capos-title-bar">
		Manage Orders
	</div>

	<div class="capos-help-bar">
		<p class="help-text"></p>
		<div class="help-buttons">
			<button mat-button (click)="addOrder()">Add Order+</button>
		</div>
	</div>

	<mat-card class="capos-card p-4">
		<mat-card-content>
			<div class="table-container">
				<div class="align-items-right">
					<mat-form-field appearance="outline" (keyup)="search()">
						<input matInput [(ngModel)]="keyword">
					</mat-form-field>
					<button mat-raised-button (click)="search()" class="ml-2" color="primary">Search</button>
				</div>
				<div class="table-wrapper">
					<table mat-table [dataSource]="pageData" class="fill">
						<ng-container matColumnDef="billNo">
							<th mat-header-cell *matHeaderCellDef>Bill No</th>
							<td mat-cell *matCellDef="let element"> {{element.billNo}} </td>
						</ng-container>
						<ng-container matColumnDef="supplier">
							<th mat-header-cell *matHeaderCellDef>Supplier</th>
							<td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
						</ng-container>
						<ng-container matColumnDef="phone">
							<th mat-header-cell *matHeaderCellDef>Phone</th>
							<td mat-cell *matCellDef="let element"> {{element.phone}} </td>
						</ng-container>
						<ng-container matColumnDef="dateTime">
							<th mat-header-cell *matHeaderCellDef>Date & Time</th>
							<td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
						</ng-container>
						<ng-container matColumnDef="itemValue">
							<th mat-header-cell *matHeaderCellDef>Item Value</th>
							<td mat-cell *matCellDef="let element"> {{element.itemValue}} </td>
						</ng-container>
						<ng-container matColumnDef="totalProducts">
							<th mat-header-cell *matHeaderCellDef>Total Pruducts</th>
							<td mat-cell *matCellDef="let element"> {{element.totalProducts}} </td>
						</ng-container>
						<ng-container matColumnDef="totalAmount">
							<th mat-header-cell *matHeaderCellDef>Total Amount</th>
							<td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
						</ng-container>
						<ng-container matColumnDef="paidStatus">
							<th mat-header-cell *matHeaderCellDef>Paid Status</th>
							<td mat-cell *matCellDef="let element"> {{element.paidStatus}} </td>
						</ng-container>
						<ng-container matColumnDef="action">
							<th mat-header-cell *matHeaderCellDef>Action</th>
							<td mat-cell *matCellDef="let element">
								<div class="d-flex">
									<button mat-icon-button (click)="deleteOrder(element)" mat-mini-fab
										color="warn">
										<mat-icon>remove</mat-icon>
									</button>
									<button mat-icon-button (click)="editOrder(element)" mat-mini-fab
										color="primary">
										<mat-icon>edit</mat-icon>
									</button>
								</div>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>

		</mat-card-content>
	</mat-card>
</div>