<div class="container p-4" fxLayout="column">
	<mat-card class="">
		<mat-card-header>
			<mat-card-title>
				<h3>Striple Gateway</h3>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="gatewayForm" (ngSubmit)="save()" fxLayout="column" class="p-4">
                <div class="fill">
                    <mat-form-field class="w-100">
                        <mat-label>Secret Key</mat-label>
                        <textarea type="text" matInput formControlName="secretKey" placeholder="Enter secret key..." required></textarea>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Application Key</mat-label>
                        <textarea type="text" matInput formControlName="appKey" placeholder="Store email..." required></textarea>
                    </mat-form-field>   
                </div>
				<div class="d-flex justify-content-center p-1">
					<button mat-raised-button color="primary">Save</button>
				</div>
			</form>

		</mat-card-content>
	</mat-card>
</div>