<div class="home-container">
  <div class="home-content">
    <div class="welcome">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <img src="/assets/image/interface/home/welcome-left.png" alt="Shopping" />
        </div>
        <div>
          <div class="xxl text-light-blue">Welcome to <span class="text-black">Ca</span>Pos</div>
          <p class="xl text-black">We are here to <span class="text-light-blue">change</span> the game</p>
        </div>
        <div>
          <img src="/assets/image/interface/home/welcome-right.png" alt="Report" />
        </div>
      </div>
      <div class="align-center">
        <button  mat-flat-button class="lg text-white">Try Capos for Free</button>
      </div>
    </div>
    <div class="how">
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <p class="xl">How it works ?</p>
      </div>
      <div class="how-flows" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
          <img src="/assets/image/interface/home/implement.png" alt="Implement" />
          <div class="text-center md">Implement</div>
        </div>
        <div>
          <img src="/assets/image/interface/home/arrow.png" alt="Arrow" />
        </div>
        <div fxLayout="column" fxLayoutGap="20px">
          <img src="/assets/image/interface/home/train.png" alt="Train" />
          <div class="text-center md">Train</div>
        </div>
        <div>
          <img src="/assets/image/interface/home/arrow.png" alt="Arrow" />
        </div>
        <div fxLayout="column" fxLayoutGap="20px">
          <img src="/assets/image/interface/home/supports.png" alt="Supports" />
          <div class="text-center md">Support</div>
        </div>
      </div>

      <div class="how offset-20">
        <div class="lg text-center">
          If you're still wondering
          if CaPOS is the system for you,
          take a test drive,
          and then ask yourself
          these questions we already have an answer to..
        </div>
      </div>

      <div class="btn-group" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <button class="xl" mat-flat-button>Check out answers</button>
        <button class="xl" mat-flat-button>Contact</button>
      </div>
    </div>

    <div class="checkout">
      <div>
        <p class="xl text-center">Check out our latest blog posts</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <p class="md text-light-blue text-center">
          Increasing your restaurant efficiency
        </p>

        <p class="md text-light-blue text-center">
          How to streamline operations and improve your customer services with CaPos
        </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="center none">
          <img src="/assets/image/interface/home/restaurant.png" alt="Restaurant" />
          <button class="xl btn-group" mat-raised-button >
            More
          </button>
        </div>

        <div fxLayout="column" fxLayoutAlign="center none">
          <img src="/assets/image/interface/home/streamline.png" alt="StreamLine" />
          <button class="xl btn-group" mat-raised-button>
            More
          </button>
        </div>
      </div>

      </div>
  </div>
</div>
