<div class="p-3">
  <div class="h4 font-weight-light border-bottom pb-3 mb-3">Add Discount</div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <button mat-button class="btn-custom" (click)="selectSymbol('%')"
              [ngClass]="{'active-border': this.data.symbol === '%'}">%</button>
      <button mat-button class="btn-custom" (click)="selectSymbol('$')" [ngClass]="{'active-border': this.data.symbol === '$'}">$</button>
    </div>

    <mat-form-field class="w-50 mt-3" appearance="outline">
      <mat-icon matSuffix>{{data.symbol}}</mat-icon>
      <input matInput [(ngModel)]="data.value">
    </mat-form-field>
  </div>
  <small>This discount will be applied to all items</small>

  <div class="d-flex justify-content-end align-items-center p-3 mt-2 bg-grey">
    <div>
      <button mat-button class="bg-custom-1 text-white"
        [mat-dialog-close]="false">Cancel</button>
      <button mat-button class="bg-custom-2 text-white ml-2" (click)="applyDiscount()">Add</button>
    </div>
  </div>
</div>
