<div class="p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="h3" >Delete Order</div>
    </div>
    <p>Do you want to really delete the order?</p>
    <div class="d-flex justify-content-end p-1">
        <div class="border-right h-100"></div>
        <button mat-raised-button class="bg-custom-1 ml-1 mt-3 text-white"  (click)="cancel()">Cancel</button>
        <button mat-raised-button class="bg-custom-1 ml-1 mt-3 text-white" color="danger" (click)="delete()">Delete</button>
    </div>
  </div>