<div class="container">
    <div class="capos-title-bar">
        Payment Types Setup
    </div>

    <div class="capos-help-bar">
        <p class="help-text">Create and manage your payment types. <a href="/help/setup/payment-types">Need help</a>?</p>
        <div class="help-buttons">
            <button mat-button (click)="addPaymentType()" class="bg-custom-2 text-white">Add Payment Type</button>
        </div>
    </div>

    <mat-card class="capos-card p-4">
		<mat-card-content>
			<div class="table-container">
				<div class="table-wrapper">
					<table mat-table [dataSource]="pageData" class="fill">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex">
                                    <button mat-icon-button (click)="deletePaymentType(element)"  mat-mini-fab color="warn">
                                      <mat-icon >remove</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="editPaymentType(element)" mat-mini-fab color="primary">
                                      <mat-icon >edit</mat-icon>
                                    </button>
                                  </div>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
				</div>
				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>

		</mat-card-content>
	</mat-card>

</div>