<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div class = "toolbar">
  <a class="p-2" routerLink = "/home" routerLinkActive="active-link" >FEATURES</a>
  <a class="p-2" routerLink = "/patient" routerLinkActive="active-link">HOW IT WORKS</a>
  <a class="p-2" routerLink = "/provider" routerLinkActive="active-link">SUPPORT</a>
  <a class="p-2" routerLink = "/clinic" routerLinkActive="active-link">PRICING</a>
  <a class="p-2" routerLink = "/price" routerLinkActive="active-link">FAQ</a>
  <a class="p-2" routerLink = "/blog" routerLinkActive="active-link">BLOG</a>
</div>

